/* General Styling */

html{
    font-size: 62.5%;
    color: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

.grid{
    display: grid;
    max-width: (100%, 30.75rem);
}

p{
    color: hsl(241, 100%, 89%);
    font-size: 1.8rem;
}

span{
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

/* Result Styling */

.result{
    align-items: center;
    border-radius: 0% 0% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45rem;
}

.resultColor{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

#yourResult{
    margin: 2rem 0 2.5rem 0;
}

#yourResult{
    color: hsl(241, 100%, 89%);
}

#--76{
    margin: 0;
    font-size: 5rem;
}

.resultCircle{
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 14rem;
    justify-content: center;
    text-align: center;
    width: 14rem;
}

.resultCircleColor{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#resultPara{
    margin: 2rem 0 4rem 0;
    padding: 0 4rem 0 4rem;
}

#great{
    margin: 3rem 0 0 0;
}

/* Summary Styling */

.card{
    align-items: center;
    border-radius: 10%;
    display: flex;
    height: 5.5rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
    width: 30.15rem;
}

#card{
    align-items: center;
    display: flex;
}

#yourSummary{
    color: hsl(224, 30%, 27%);
    margin-bottom: 2.5rem;
    padding-right: 65%;
}

.iconContainer{
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon{
    height: 3rem;
    padding-right: 1rem;
    width: 3rem;
}

.-cardReaction {
    background-color: hsl(0, 100%, 67%, .1);
}

.reactionColor{
    color: hsl(0, 100%, 67%);
}

.-cardMemory {
    background-color: hsl(39, 100%, 56%, .1);
}

.memoryColor{
    color: hsl(39, 100%, 56%);
}

.-cardVerbal{
    background-color: hsl(166, 100%, 37%, .1);
}

.verbalColor{
    color: hsl(166, 100%, 37%);
}

.-cardVisual{
    background-color: hsl(234, 85%, 45%, .1);
}

.visualColor{
    color: hsl(234, 85%, 45%);;
}

.summary{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45rem;
    justify-content: center;
}

.button{
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttonColor{
    background-color: hsl(224, 30%, 27%);
    border-radius: 10% 10% 10% 10%;
    color: hsl(221, 100%, 96%);
}

.button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

/* Media Queries */

@media screen and (min-width: 768px){
    
    .grid{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        min-height: 50.10rem;
        min-width: 70.35rem;
    }

    .result{
        border-radius: 5% 5% 5% 5%;
        text-align: center;
        width: 33.31rem;
    }

    .button:hover {
        background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        cursor: pointer;
    }

    
}
